@{
    ViewBag.Title = "Добро пожаловать";
}
<h3>Почему Nevernote?</h3>
<ol class="round">
    <li class="one">
        <h5>Два клика</h5>
        Всего два клика и вы на всю жизнь расхотите писать заметки. Только сегодня, без регистрации и смс!
    </li>

    <li class="two">
        <h5>Огромные возможности</h5>
        Впечатляющий выбор нанести непоправимый удар по вашей психике и заставить вас захотеть это развидеть, но не выйдет.
    </li>

    <li class="three">
        <h5>Новый взгляд на вещи</h5>
        Nevernote раскроет перед вами все преимущества обычной бумаги. На самом деле, даже на туалетной бумаге
        делать заметки удобнее, чем здесь.
    </li>
</ol>
